<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title> Проверки </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <header>Cards</header>
</head>
<body>

<!--<div class="container mt-5">-->
<!--  <h1> Cards </h1>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col">-->
<!--        <a-->
<!--                href="checks/add"-->
<!--                class="btn btn-primary"-->
<!--                role="button"-->
<!--                style="float: left"-->
<!--                aria-disabled="true">Добавить запись в таблицу</a>-->
<!--    </div>-->
<!--</div>-->

<table class="table">
  <thead>
  <tr>
    <th>Personal Data</th>
    <!--        <th>Customer Id</th>-->
    <!--        <th>Customer Name</th>-->
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="personals : ${personal}">
    <td th:text="${personals.getCustomerId()}"></td>
    <td th:text="${personals.getCustomerName()}"></td>
    <td th:text="${personals.getCustomerSurname()}"></td>
    <td th:text="${personals.getCustomerPrimaryEmail()}"></td>
    <td th:text="${personals.getCustomerPrimaryPhone()}"></td>
    <!--        <td th:text="${check.peer}"></td>-->
    <!--        <td th:text="${check.task}"></td>-->
    <!--        <td th:text="${check.date}"></td>-->
    <!--        <td>-->


    <!--            <button style="float: right" class="btn btn-danger ms-1" data-toggle="modal"-->
    <!--                    th:attr="data-target='#deleteDialog' + ${check.id}">Удалить</button>-->

    <!--            <a style="float: right" class="btn btn-warning" th:href="'/checks/update/' + ${check.id}">Обновить</a>-->

    <!--            <div class="modal fade" th:attr="id='deleteDialog'+${check.id}" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel"-->
    <!--                 aria-hidden="true">-->
    <!--                <div class="modal-dialog" role="document">-->
    <!--                    <div class="modal-content">-->
    <!--                        <div class="modal-header">-->
    <!--                            <h5 class="modal-title" id="deleteDialogLabel">Удаление данных из таблицы</h5>-->
    <!--                        </div>-->
    <!--                        <div class="modal-body">Удалить данные?</div>-->
    <!--                        <div class="modal-footer">-->
    <!--                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
    <!--                            <a class="btn btn-danger ms-1" th:attr="href='/checks/delete/' + ${check.id}">Удалить</a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </td>-->
  </tr>
  </tbody>
</table>

<!--<div class="container-fluid">-->
<!--    <form method="POST" action="/checks/upload" enctype="multipart/form-data">-->
<!--        <input required = "required" name="file" type="file" class="form-control-file" accept=".csv">-->
<!--        <input required = "required" class="btn btn-primary" type="submit" value="Загрузить csv файл">-->
<!--    </form>-->
<!--</div>-->

<!--<form method="GET" action="/checks/unload" enctype="multipart/form-data">-->
<!--    <input required = "required" class="btn btn-primary" type="submit" value="Скачать таблицу в формате csv">-->
<!--</form>-->

<!--<div th:insert="~{tmp/footer :: footer}"></div>-->
<!--<div th:insert="~{tmp/modalScript :: modalScript}"></div>-->

</body>
</html>